.dashboard-user-page {
    background-color: var(--bg-dark);
    font-family: var(--font-main);
    min-height: 100vh;
}

.dashboard-user-container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 32px 24px;
}