* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-light);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

input,
select,
textarea {
    font-family: inherit;
    outline: none;
}